* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  scroll-snap-type: y mandatory;
}

.inline {
  display: inline;
}

a {
  text-decoration: none;
}

/* Padding */
.nav-padding {
  padding: auto 0px;
}

/* Fonts */
@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/GothamBook.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Gotham Medium";
  src: url("../fonts/GothamMedium.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/GothamBold.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Gotham Light";
  src: url("../fonts/GothamLight.otf") format("opentype");
  font-style: normal;
}

.font-weight-medium {
  font-family: "Gotham Medium", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
}

/* color */
.color-ffffff {
  color: #ffffff;
}

/* Headings */
h1 {
  font-family: "Gotham Medium", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  margin: auto 0px;
}

h2 {
  font-family: "Gotham Medium", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #171a20;
}

h3 {
  font-family: "Gotham Light", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
  color: #171a20;
}

h4 {
  font-family: "Gotham Medium", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #171a20;
  text-align: center;
}

/* Paragraphs */
.p-dark {
  font-family: "Gotham Book", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #393c41;
}

/* Buttons */
.light-btn {
  padding: 10px 40px;
  border: #ffffff 3px solid;
  border-radius: 100px;
  color: #ffffff;
  font-family: "Gotham Medium", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

.light-btn:hover {
  background: #ffffff;
  color: #171a20;
  cursor: pointer;
}

.dark-btn {
  padding: 10px 40px;
  border: #171a20 3px solid;
  border-radius: 100px;
  color: #171a20;
  font-family: "Gotham Medium", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

.dark-btn:hover {
  color: #ffffff;
  background: #171a20;
  cursor: pointer;
}

/* Nav Bar */
.navbar {
  width: -webkit-fill-available;
  margin: 0px 20px;
  background: transparent;
  position: absolute;
}

#not-top-page {
  position: sticky;
  top: 0px;
}

.secondary-navbar {
  width: -webkit-fill-available;
  margin: 0px 20px;
  background: transparent;
}

.navbar-height {
  height: 52px;
}

.navbar-light .logo {
  min-height: 52px;
  width: 100px;
  background: url("../images/logo/logo-white.png") no-repeat center center/100px;
  float: left;
}

.navbar-dark .logo {
  min-height: 52px;
  width: 100px;
  background: url("../images/logo/logo-dark.png") no-repeat center center/100px;
  float: left;
}

#top-page-navbar,
#top-right-navbar,
#right-navbar {
  text-align: center;
  width: 621.85px;
  margin: 0px auto;
  float: none;
}

#top-right-navbar,
#right-navbar {
  float: right;
  width: auto;
}

.top-page-navbar-item {
  margin: 17.6px 10px;
  display: block;
  width: fit-content;
  float: left;
  height: auto;
}

.top-page-navbar-item a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}

.top-right-btn i,
.right-btn i {
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
}

.navbar-dark .right-btn i {
  color: #393c41;
}

.navbar-light .top-right-btn,
.navbar-dark .right-btn {
  min-height: 52px;
  text-align: left;
  float: right;
}

#top-right-box,
#right-box {
  margin: 17.6px 0px;
  width: 30px;
  text-align: right;
}

/* Pages */
.page {
  height: 100vh;
  width: -webkit-fill-available;
  scroll-snap-align: start;
}

/* Page 1 */
#model-3 {
  background: url("../images/page-1.jpeg") no-repeat center center/cover;
}

#model-3-header {
  margin: 0px auto;
  width: fit-content;
  padding-top: 150px;
}

#stats-section {
  text-align: center;
  width: fit-content;
  min-width: 159.33px;
  top: 790px;
  margin: 0px auto;
  margin-top: 564px;
  height: 66px;
}

.stats-box {
  border-right: 1px solid #ffffff;
  padding: 0px 20px;
  padding-top: 13px;
  width: fit-content;
  float: left;
}

.stats-box p {
  font-family: "Gotham Book", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

.stats-box img {
  height: 18px;
}

.stats-box:last-child {
  border-right: none;
}

.stats-heading {
  margin: 6px 0px;
}

.btn-box {
  margin: auto 0px;
}

/* Page 2 */

#safety-banner-text {
  width: 25%;
  height: 100vh;
  padding: 0px 50px;
  float: left;
  background-color: #ffffff;
}

#safety-banner-img {
  width: 75%;
  height: 100vh;
  float: right;
  position: relative;
  top: -3px;
  background: #f2f2f2;
  background: url("../images/page-2.png") no-repeat center center/auto;
}

#safety-h3 {
  margin-top: 50px;
}

#safety-h2 {
  margin-top: 2px;
}

#safety-p {
  margin-top: 16px;
  margin-bottom: 30px;
}

#safety-raiting-box {
  padding: 24px;
  background: #eeeeee;
  border-radius: 24px;
}

.safety-raiting-box-line {
  font-family: "Gotham Bold", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #393c41;
}

.safety-raiting-box-stars {
  float: right;
}

.safety-raiting-box-stars:last-child {
  padding-bottom: 8px;
}

.safety-raiting-box-minitext {
  clear: both;
  font-family: "Gotham Book", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 8px;
  color: #393c41;
  padding-bottom: 8px;
}

#safety-footer {
  position: relative;
  bottom: 150px;
  display: block;
  padding: 50px;
}

.learn-more {
  width: fit-content;
  height: 40px;
  margin-right: 12px;
}

.learn-more-btn {
  border: 3px solid #000000;
  border-radius: 50%;
  margin-right: 10px;
  color: #000000;
  height: 40px;
  width: 40px;
  display: inline-block;
}

.learn-more-link:hover .learn-more-btn {
  background: #000000;
  color: #ffffff;
}

.learn-more-btn i {
  padding: 10px;
  height: 40px;
  width: 40px;
  font-size: 15px;
}

/* Page 3 */
#perfomance {
}

#perfomance-text {
  height: 250px;
}

#perfomance-image {
  height: calc(100vh - 250px);
  background: url("../images/page-3.png") no-repeat center center/cover;
}
